# Default ignored files
/../../Topic 1. Classes and objects. Member variables and methods. Static and final./.idea/shelf/
/../../Topic 1. Classes and objects. Member variables and methods. Static and final./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Topic 1. Classes and objects. Member variables and methods. Static and final./.idea/httpRequests/
# Datasource local storage ignored files
/../../Topic 1. Classes and objects. Member variables and methods. Static and final./.idea/dataSources/
/../../Topic 1. Classes and objects. Member variables and methods. Static and final./.idea/dataSources.local.xml
